div.container
    h2 Show massage page

    div.col-md-6
        table.table
            thead
                th User
                th Message
                th Action

            tbody
                tr(ng-repeat="user in allMessages", id="row-message-{{user.id}}")
                    td
                        a(href="/single/{{user.id}}") {{user.username}}
                    td {{user.message}}
                    td
                        button.btn.btn-danger(ng-click="removeMsg(user.id)") Remove
                        a.btn.btn-warning(href="/edit/{{user.id}}") Edit