div.container
    h2 Show massage page
    h3 Hello Antonio

    div.col-md-6
        table.table
            thead
                th User
                th Message
                th Action

            tbody
                tr(ng-repeat="user in allMessages" id="row-message-{{user.id}}")
                    td {{user.username}}
                    td {{user.message}}
                    td
                        button.btn.btn-danger(ng-click="removeMsg(user.id)") Remove