div.container
    h2 Single message:
    hr
    p User name:
        h3 {{userName}}
    p Message
        div {{message}}
    //div
    //    button.btn.btn-primary(ng-click="updateMsg(userId, userName, message)") Update